{
  "APPWRITE_ENDPOINT": "https://fra.cloud.appwrite.io/v1",
  "APPWRITE_PROJECT_ID": "66504a43000b991b151e",
  "APPWRITE_DATABASE_ID": "your_appwrite_database_id_here",
  "GROQ_API_KEY": "your_groq_api_key_here"
}
